RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^v1/([a-z]+)/(.*?)/([a-z]+)/([0-9]+)/([a-z]+).api$		index.php?unique=$2&algorithm=$3&length=$4&output=$5&type=$1	[L,NC,QSA]
RewriteRule ^v1/(.*?)/([a-z]+)/([0-9]+)/([a-z]+).api$			index.php?unique=$1&algorithm=$2&length=$3&output=$4	[L,NC,QSA]
RewriteRule ^v1/([a-z]+)/(.*?)/([a-z]+).api$ 				index.php?unique=$2&output=$3&type=$1	[L,NC,QSA]
RewriteRule ^v1/(.*?)/([a-z]+).api$ 					index.php?unique=$1&type=default&output=$2	[L,NC,QSA]
